config/mycli/myclirc
config/pgcli/config
config/ssh/config
config/aws/config
config/zsh/toggl/config.zsh
config/zsh/aliases/cloudwatch.zsh

config/jq/aws-sml.data.jq

# config/git/config
config/git/config-work
# my dir-switcher compiled functions directory
out

# secrets
env
*.env
id_ed25519*
npmrc
secret*
credentials

# brew bundle outputs Brewfile.lock.json files for debugging non-reproducibility.
brewfile.lock.json

# ignore scratch file
# git update-index --assume-unchanged path/to/file
# git update-index --no-assume-unchanged path/to/file
lib/scratch
bin/scratch
bin/scratch.*
config/zsh/aliases/scratch.zsh

lib/zsh/aws/sqs/aqs

# do not ignore the candy zsh functions symlink so that fd can search inside here
# creating a .fdignore file for this is too much work
# lib/zsh/candy

packer_compiled.lua

.DS_STORE

# clean asd smudge filters for git secrets
templates/git
templates/candy

scratch.jq

# ignore datafold datadiff config files
datadiff.toml

config/dadbod

# contains sensitive url names for rc
lib/jq/aws/route53/subSpecialNames.jq
