# ignore webstorm
.idea

# ignore scratch file
# git update-index --assume-unchanged path/to/file
# git update-index --no-assume-unchanged path/to/file
scripts/scratch

#ignore env secrets
env

# ignore vim plugs
vim/plugged
vim/view
vim/pack

#ignore vim swp files
*.swp
*.env

#ignore netrw dotfile - don't know what it does
.netrwhist
