config/mycli/myclirc
config/ssh/config
config/aws/config
config/zsh/toggl/config.zsh

config/jq/aws-sml.data.jq

# config/git/config
config/git/config-work
# my dir-switcher compiled functions directory
out

# secrets
env
*.env
id_ed25519*
npmrc
secret*
credentials

# brew bundle outputs Brewfile.lock.json files for debugging non-reproducibility.
brewfile.lock.json

# ignore scratch file
# git update-index --assume-unchanged path/to/file
# git update-index --no-assume-unchanged path/to/file
lib/scratch
bin/scratch
bin/scratch.*

lib/zsh/aws/sqs/aqs

# ignore candy zsh functions symlink
lib/zsh/candy

packer_compiled.lua

.DS_STORE

# clean asd smudge filters for git secrets
templates/git
templates/candy
