/Users/tim/src/argus/argus-apps/argus-admin-test
/Users/tim/src/argus/argus-apps/argus-cc-ng
/Users/tim/src/argus/argus-apps/argus-cc-test
/Users/tim/src/argus/argus-apps/argus-lib-android
/Users/tim/src/argus/argus-apps/argus-lib-web
/Users/tim/src/argus/argus-apps/argus-officer-android
/Users/tim/src/argus/argus-apps/argus-officer-flutter
/Users/tim/src/argus/argus-apps/argus-test-android
/Users/tim/src/argus/argus-apps/argus_flutter_lib

/Users/tim/src/optimax/optimax-apps/optimax-cc
/Users/tim/src/optimax/optimax-apps/optimax-officer-android
/Users/tim/src/optimax/optimax-media

/Users/tim/src/argus/argus-ws/argus-fabric
/Users/tim/src/argus/argus-ws/argus-admin-ws
/Users/tim/src/argus/argus-ws/argus-auth
/Users/tim/src/argus/argus-ws/argus-graph
/Users/tim/src/argus/argus-ws/argus-ms-cas
/Users/tim/src/argus/argus-ws/argus-ms-dashboard
/Users/tim/src/argus/argus-ws/argus-ms-incident
/Users/tim/src/argus/argus-ws/argus-ms-incidentcoordinator
/Users/tim/src/argus/argus-ws/argus-ms-message
/Users/tim/src/argus/argus-ws/argus-ms-occurrence
/Users/tim/src/argus/argus-ws/argus-ms-scheduler
/Users/tim/src/argus/argus-ws/argus-ms-session
/Users/tim/src/argus/argus-ws/argus-ms-task
/Users/tim/src/argus/argus-ws/argus-ms-user
/Users/tim/src/argus/argus-ws/argus-resize-image
/Users/tim/src/argus/argus-ws/argus-utils
/Users/tim/src/argus/argus-ws/argus-zscheduler 

/Users/tim/src/argus/argus-config/argus-services
/Users/tim/src/argus/argus-config/argus-services-cas

/Users/tim/src/argus/argus-media
/Users/tim/src/argus/argus-release-notes

/Users/tim/src/certify/serverless/cathy-define-auth
/Users/tim/src/certify/serverless/cathy-pre-auth
/Users/tim/src/certify/serverless/cathy-sync-sap
/Users/tim/src/certify/serverless/certify-preauth-lambda

/Users/tim/src/certify/admin/certify-admin
/Users/tim/src/certify/admin/certify-admin-2
/Users/tim/src/certify/admin/certify-admin-auth
/Users/tim/src/certify/admin/certify-admin-service

/Users/tim/src/certify/auth/certify-app
/Users/tim/src/certify/auth/certify-auth
/Users/tim/src/certify/auth/certify-auth-service
/Users/tim/src/certify/auth/certify-sdk
/Users/tim/src/certify/auth/certify-test
/Users/tim/src/certify/auth/certify-web

/Users/tim/src/certify/resources

/Users/tim/src/certify/certify-test/certify-web-test

/Users/tim/src/edo/acts
/Users/tim/src/edo/call-tree-sms
/Users/tim/src/edo/abc-cli

# work builds
/Users/tim/certis/resources/builds/argusKotlin/1dev
/Users/tim/certis/resources/builds/argusKotlin/2staging
/Users/tim/certis/resources/builds/argusKotlin/3prod
/Users/tim/certis/resources/builds/argusFlutter/1dev
/Users/tim/certis/resources/builds/argusFlutter/2staging
/Users/tim/certis/resources/builds/argusFlutter/3prod
/Users/tim/certis/resources/builds/argusOptimax/1d
/Users/tim/certis/resources/builds/argusOptimax/2s
/Users/tim/certis/resources/builds/argusOptimax/3p
/Users/tim/certis/resources/builds/certify/1d
/Users/tim/certis/resources/builds/certify/2s
/Users/tim/certis/resources/builds/certify/3p
/Users/tim/certis/resources/builds/titus

# my projects
/Users/tim/dev/working/abc
/Users/tim/dev/working/abcdoc
/Users/tim/dev/working/abc2
/Users/tim/dev/working/abcd
/Users/tim/dev/working/cl
/Users/tim/dev/working/timtoggl
/Users/tim/dev/working/timothygoh.org
