/Users/tim/src/certis/argus/argus-apps/argus-admin-test
/Users/tim/src/certis/argus/argus-apps/argus-cc-ng
/Users/tim/src/certis/argus/argus-apps/argus-cc-test
/Users/tim/src/certis/argus/argus-apps/argus-lib-android
/Users/tim/src/certis/argus/argus-apps/argus-lib-web
/Users/tim/src/certis/argus/argus-apps/argus-officer-android
/Users/tim/src/certis/argus/argus-apps/argus-officer-flutter
/Users/tim/src/certis/argus/argus-apps/argus-test-android
/Users/tim/src/certis/argus/argus-apps/argus_flutter_lib

/Users/tim/src/certis/optimax/optimax-apps/optimax-cc
/Users/tim/src/certis/optimax/optimax-apps/optimax-officer-android
/Users/tim/src/certis/optimax/optimax-media

/Users/tim/src/certis/argus/argus-ws/argus-fabric
/Users/tim/src/certis/argus/argus-ws/argus-admin-ws
/Users/tim/src/certis/argus/argus-ws/argus-auth
/Users/tim/src/certis/argus/argus-ws/argus-graph
/Users/tim/src/certis/argus/argus-ws/argus-ms-cas
/Users/tim/src/certis/argus/argus-ws/argus-ms-dashboard
/Users/tim/src/certis/argus/argus-ws/argus-ms-incident
/Users/tim/src/certis/argus/argus-ws/argus-ms-incidentcoordinator
/Users/tim/src/certis/argus/argus-ws/argus-ms-message
/Users/tim/src/certis/argus/argus-ws/argus-ms-occurrence
/Users/tim/src/certis/argus/argus-ws/argus-ms-scheduler
/Users/tim/src/certis/argus/argus-ws/argus-ms-session
/Users/tim/src/certis/argus/argus-ws/argus-ms-task
/Users/tim/src/certis/argus/argus-ws/argus-ms-user
/Users/tim/src/certis/argus/argus-ws/argus-resize-image
/Users/tim/src/certis/argus/argus-ws/argus-utils
/Users/tim/src/certis/argus/argus-ws/argus-zscheduler 

/Users/tim/src/certis/argus/argus-config/argus-services
/Users/tim/src/certis/argus/argus-config/argus-services-cas

/Users/tim/src/certis/argus/argus-media
/Users/tim/src/certis/argus/argus-release-notes

/Users/tim/src/certis/certify/serverless/cathy-define-auth
/Users/tim/src/certis/certify/serverless/cathy-pre-auth
/Users/tim/src/certis/certify/serverless/cathy-sync-sap
/Users/tim/src/certis/certify/serverless/certify-preauth-lambda

/Users/tim/src/certis/certify/admin/certify-admin
/Users/tim/src/certis/certify/admin/certify-admin-2
/Users/tim/src/certis/certify/admin/certify-admin-auth
/Users/tim/src/certis/certify/admin/certify-admin-service

/Users/tim/src/certis/certify/auth/certify-app
/Users/tim/src/certis/certify/auth/certify-auth
/Users/tim/src/certis/certify/auth/certify-auth-service
/Users/tim/src/certis/certify/auth/certify-sdk
/Users/tim/src/certis/certify/auth/certify-test
/Users/tim/src/certis/certify/auth/certify-web

/Users/tim/src/certis/certify/resources

/Users/tim/src/certis/certify/certify-test/certify-web-test

/Users/tim/src/certis/cas/cag-fids
/Users/tim/src/certis/cas/cag-fids-aggregator

/Users/tim/src/certis/edo/acts
/Users/tim/src/certis/edo/call-tree-sms
/Users/tim/src/certis/edo/abc-cli

# work builds
/Users/tim/.local/share/certis/build/arguskotlin/1d
/Users/tim/.local/share/certis/build/arguskotlin/2s
/Users/tim/.local/share/certis/build/arguskotlin/3p
/Users/tim/.local/share/certis/build/argusflutter/1d
/Users/tim/.local/share/certis/build/argusflutter/2s
/Users/tim/.local/share/certis/build/argusflutter/3p
/Users/tim/.local/share/certis/build/argusoptimax/1d
/Users/tim/.local/share/certis/build/argusoptimax/2s
/Users/tim/.local/share/certis/build/argusoptimax/3p
/Users/tim/.local/share/certis/build/certify/1d
/Users/tim/.local/share/certis/build/certify/2s
/Users/tim/.local/share/certis/build/certify/3p
/Users/tim/.local/share/certis/build/titus

# my projects
/Users/tim/src/me/abc
/Users/tim/src/me/abcdoc
/Users/tim/src/me/abc2
/Users/tim/src/me/abcd
/Users/tim/src/me/cl
/Users/tim/src/me/timtoggl
/Users/tim/src/me/website
